.project {
  margin: 10px 20px;
}

.project h5 {
  margin: 0;
  padding-top: 0;
  margin-bottom: 0.5ch;
  text-align: left;
}

.projectContent {
  margin-bottom: 0;
  padding-bottom: 0;
}

.triggerHover,
.projectDescription {
  transition: 1s all ease;
}

.projectFrame {
  background-color: white;
  margin: 0;
  overflow-y: hidden;
}

.web {
  max-width: 500px;
}

.android {
  max-width: 300px;
}

.web .projectFrame {
  max-height: 375px;
}

.android .projectFrame {
  max-height: 510px;
}

.web .projectFrame,
.android .projectFrame,
.windows .projectFrame {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .web,
  .android,
  .windows {
    max-width: 100%;
  }
}

.windows .triggerHover {
  max-width: 100%;
}

.triggerHover:hover + .projectDescription {
  opacity: 1;
}

.projectDescription:hover {
  opacity: 1;
}

.opac,
.triggerHover:hover,
.projectDescription:hover + .triggerHover {
  opacity: 0.2;
}

.projectDescription {
  background-color: white;
  padding: 5%;
  border-radius: 5%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .projectFrame {
    min-width: 100%;
    overflow-x: hidden;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  height: fit-content;
  text-align: left;
  font-size: 1.5ch;
}
