@import "./flutterproject.scss";
@import "./reactprojects.scss";
@import "./JoyOfCode/";

.projects {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .tile {
      padding: 2em;
      width: 16em;
      height: 16em;
      border: 1px solid $soft-yellow;
      filter: brightness(0) saturate(100%) invert(88%) sepia(51%) saturate(378%)
        hue-rotate(337deg) brightness(107%) contrast(105%);
      cursor: zoom-in;

      place-self: center;
      margin: 1em;

      img {
        width: 12em;
        height: 12em;
      }
    }
  }

  .monitor-overlay {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    z-index: 9;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;

    .background {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      top: 0;
      left: 0;
      z-index: -1;
    }

    @media screen and (max-width: 1400px) {
      .monitor {
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .monitor {
      max-height: 100vh;
      overflow-y: auto;
      z-index: 10;
      margin: auto 0;
      max-width: 1600px;
      color: $soft-yellow;
      background-color: #7f7f7f;
      border: 5px solid $contrast-happy;
      border-radius: 4px;

      display: flex;
      flex-direction: column;

      .monitor-nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
        padding-right: 1em;

        .headline {
          margin: 0.5em 0;
        }

        .close {
          filter: invert(89%) sepia(26%) saturate(529%) hue-rotate(9deg)
            brightness(105%) contrast(107%);
          width: 2em;
          height: 2em;
          cursor: pointer;
        }
      }

      .monitor-body {
        flex: 1 1 0;
        margin: 1em;
      }
    }

    @media screen and (max-width: 1600px) {
      .monitor {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}
