.technologies {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "favourite tools"
    "experience experience";
}

@media screen and (max-width: 753px) {
  .technologies {
    grid-template-areas:
      "MERN"
      "tools"
      "experience";
  }
}

.favourite {
  grid-area: favourite;
}
.tools {
  grid-area: tools;
}
.experience {
  grid-area: experience;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.icons > span {
  margin-right: 10px;
}

.iconSpacing {
  margin: 0 10px;
}
