.technologies {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.technologies h4 {
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 753px) {
  .technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.icons > span {
  margin-right: 10px;
}

.iconSpacing {
  margin: 0 10px;
}
