.tooltip {
  position: relative;
  display: inline-block;
}

.iconLayout {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.icon {
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
