.introduction {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;

  .container {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border: 1px solid $contrast-happy;

    .img {
      width: 15rem;
      height: 15rem;
      transition: transform 0.1s ease-in-out;
      &:hover {
        transform: rotate(-180deg);
      }
      background-image: url("/img/me.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .text {
    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    p {
      margin: 1rem 0;
    }

    width: min(30rem, 100vw);
    grid-area: text;
    text-align: left;

    @media screen and (min-width: 768px) {
      margin-right: 5rem;
    }
  }
}
