.img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: url("/img/me.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--header-blue);
}

header aside {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--header-aside);
}
