header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--soft);
}

.imgTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: url("/img/me.jpg");
  background-size: 100%; /* <------ */

  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.aside {
  min-width: 20ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--header-aside);
  padding-top: 20px;
}

.aboutMe {
  max-width: 70ch;

  color: black;
  display: flex;
  align-items: center;
}

.aboutMe p {
  text-align: justify;
}
