.joy-of-code {
  width: 100%;
  max-width: unset;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  h2 {
    font-size: clamp(2rem, calc(1vw + 1rem), 3rem);
  }

  .project-body {
    max-width: 800px;
    margin: 0 auto;
  }

  .joc-pictures {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0.5em;
    column-gap: 0.5em;
    width: 100%;
    max-width: 800px;

    img {
      width: 100%;
      height: initial;
    }

    div {
      height: 0;
      padding-bottom: 62.5%;
    }

    .one {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  p {
    font-size: clamp(1rem, calc(1vw + 1rem), 2rem);

    text-align: justify;
  }

  .tools {
    align-self: flex-start;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;

    div {
      font-size: clamp(1rem, calc(1vw + 1rem), 2rem);

      background-color: grey;
      margin: 0.5em;
      margin-left: 0;
      padding: 0.5em;
      border-radius: 1em;
      cursor: default;
      position: relative;

      &:not(:last-child)::after {
        content: "";
        padding: 0.125em;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: calc(50% - 0.125em);
        left: calc(100% + 0.125em);
      }
    }
  }
}
