header {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imgTitle {
  padding: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: url("/img/me.jpg");
  background-size: 100%; /* <------ */

  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.aside {
  min-width: 20ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--header-aside);
}

.aboutMe {
  min-width: 30ch;
  max-width: 40ch;
  color: black;
  text-align: left;
}
