.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  --soft: #e8ded2;
  --header-aside: black;
  --header-p: #5eaaa8;
  --portfolio: #5eaaa8;
  --medium: #a3d2ca;
  --contrast: #5eaaa8;
  --hard: #056676;
}

main {
  margin: 0 auto;
  background-color: #a3d2ca;
  min-height: 100vh;
  max-width: 1000px;
  box-shadow: 0 0 21px #00000011, 0 0 63px #00000011;
}

.body {
  padding: 10px 0;
}

.portfolio {
  background-color: var(--portfolio);
}

.otherSkills {
  display: flex;

  justify-content: center;
}

.otherSkills > p {
  text-align: justify;
  max-width: 70ch;

  padding: 10px;
}
.otherSkills {
  font-size: 2.5ch;
}

.otherSkills button {
  border: none;
  border-radius: 10%;
  color: black;
  background-color: var(--soft);
  margin: 0 10px;
  font-weight: bold;
  padding: 0 3px;
  text-transform: uppercase;
}
