$contrast-happy: hsla(60, 100%, 50%, 1);
$contrast-happy-hover: hsla(60, 80%, 60%, 0.75);

$soft-yellow: hsl(60, 100%, 80%);

$monitor-background: hsl(60, 5%, 40%);

$contrast-background: hsl(60, 0%, 15%);

$tile-background-color: #c4c4c4;

$main-background-first-color: hsl(0, 0%, 10%);
$main-background-second-color: hsl(0, 0%, 0%);

$header-background-first-color: #020107;
$header-background-second-color: #201b46;
