$contrast-happy: hsla(60, 80%, 60%, 0.75);
$contrast-happy-hover: hsla(60, 100%, 50%, 1);

$soft-yellow: hsl(60, 100%, 80%);

$monitor-background: hsl(60, 5%, 40%);

$contrast-background: hsl(60, 0%, 15%);

$tile-background-color: #c4c4c4;
