@import "./header.scss";
@import "./main.scss";

html {
  font-family: "Roboto", sans-serif;
}

$contrast-happy: #f5ee3a;
$contrast-happy-hover: #ffffa0;

html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;

  overflow-y: visible;
  text-align: center;
  min-height: 100vh;
  color: white;
}

button {
  padding: 0.25rem;
  background-color: $contrast-happy;
  border-radius: 0.25rem;
  border: 1px solid black;
  font-weight: bold;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  color: #111111;
  cursor: pointer;

  &:hover {
    background-color: $contrast-happy-hover;
    color: black;
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  }
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icon {
  color: white;

  margin: 10px;
  svg {
    width: 40px;
    height: 40px;
  }
}

.introduction {
  font-size: 1rem;
  grid-area: a;
  place-self: center;
  display: flex;
  flex-direction: column;

  .fullstack-headline {
    margin: 1em;
    text-decoration: underline;
    text-decoration-color: $contrast-happy;
  }

  .justin-headline {
    margin: 0.5em;
  }
}

.imageAndScore {
  margin: 0 auto;
  display: flex;
  width: fit-content;

  .img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url("/img/me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
  }

  .scores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .score {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      margin-right: 8px;
    }

    span {
      display: flex;
      align-items: center;

      .star {
        color: $contrast-happy;
        margin-left: 8px;
      }
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.small-icon {
  width: 20px;
  height: 20px;
}

h1 {
  margin: 64px;
}

h2 {
  margin: 32px;
}

h3 {
  margin: 16px;
}
