@import "./color.scss";
@import "./main.scss";
@import "/component/";

html {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  overflow-y: visible;
  text-align: center;
  min-height: 100vh;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  background-color: $contrast-happy;
  border-radius: 0.25rem;
  border: 1px solid black;
  font-weight: bold;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  color: #111111;
  cursor: pointer;

  margin: 0.5rem;

  &:hover {
    background-color: $contrast-happy-hover;
    color: black;
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  }
}

h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  margin: 0.5rem;
}

@media screen and (max-width: 700px) {
  html,
  body {
    font-size: 0.7rem;
  }
}
