@import "./color.scss";

main {
  background: linear-gradient(hsl(0, 0%, 10%), hsl(0, 0%, 0%));
  padding-top: 2.5rem;
  box-sizing: border-box;
  min-height: 100vh;
  color: $soft-yellow;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  section {
    max-width: 1000px;
    margin-bottom: 5rem;
  }
}
