@import "./color.scss";

main {
  background: black;
  padding-top: 10vh;
  box-sizing: border-box;
  min-height: 100vh;
  color: $soft-yellow;
  display: grid;
  place-items: center;

  section {
    max-width: 1000px;
    margin-bottom: 20vh;
  }

  .about {
    background-color: rgb(76, 76, 76);
  }
}
