.page {
  padding: 0;
}

.pageHR {
  margin: 0 20px;
}

.portfolio {
  min-height: 80vh;
  padding: 20px 0;
}

.groups {
  padding: 10px;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.both {
  grid-template-columns: 50% 50%;
}

@media (min-width: calc(350px * 3)) {
  .grid {
    --repeat: 3;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--repeat, auto-fit), 350px);
  justify-content: center;
}
