.page {
  padding: 0;
}

.pageHR {
  margin: 0 20px;
  background-color: var(--medium);
}

.subNav {
  padding: 10px 60px;
  background-color: var(--contrast);
  justify-content: center;
}

.subNav .activeLink {
  text-decoration: underline;
}

.subNav a {
  padding: 1vh 1vw;
  margin: 0 2vw;
  font-size: 1.2ch;
  background-color: var(--soft);
  border-radius: 10%;
}

.portfolio {
  padding: 20px 0;
}

.groups {
  padding: 10px;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.both {
  grid-template-columns: 50% 50%;
}

.web {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}

.android {
  display: flex;
  justify-content: center;
}

.desktop {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .web {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .web {
    grid-template-columns: repeat(1, 1fr);
  }

  .android {
    flex-wrap: wrap;
  }
}
