.page {
  padding: 0;
}

.pageHR {
  margin: 0 20px;
}

.portfolio {
  min-height: 80vh;
  padding: 20px 0;
}

.groups {
  padding: 10px;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.both {
  grid-template-columns: 50% 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 499px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
