.tag {
  border-radius: 5px;
  padding: 4px;
  font-size: 2ch;
  margin-right: 2px;

  border: 1px solid var(--tech-tag-border);
  list-style: none;
}

.tag button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  margin: auto;
  transition: 0.3s all ease;
}

.tag:hover button {
  opacity: 1;
}
