@import "styles/color.scss";

nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  padding: 0 1rem;
  justify-content: space-between;

  .local-links {
    span {
      z-index: 5;
      background-color: rgba(black, 0.5);
      margin-right: 1ch;
      text-decoration: none;
      color: $soft-yellow;
      cursor: pointer;
    }

    .active {
      text-decoration: underline;
      color: $contrast-happy;
    }
  }

  button {
    opacity: 0.25;
    transition: 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
