nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  justify-content: flex-end;

  button {
    opacity: 0.25;
    transition: 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
